*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background:linear-gradient(red, yellow, green);
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.emoji{
  font-size: 200px;
  cursor: pointer;
}
.open{
  display: none;
}
.closed{
  display: none;
}
.active{
  display: block;
}
